@CHARSET "UTF-8";

body {
	font-size: 14px;
	LINE-HEIGHT: 26px;
	MARGIN: 0px
}

table {
	font-size: 14px;
	LINE-HEIGHT: 26px;
}

.Header {
	BACKGROUND: #27E764;
	Color: #FFF;
	PADDING: 5px;
	Line-HEIGHT: 21px;
	PADDING-LEFT: 15px;
	font-size: 14px;
}

.header A {
	text-decoration: None;
	color: #FFF;
	font-size: 14px;
}

.header A:hover {
	text-decoration: None;
	color: #f00;
	font-size: 14px;
}

.FL {
	float: right;
	Line-HEIGHT: 19px;
	padding-bottom: 3px;
	font-size: 14px;
}